/node_modules
/public/hot
/public/storage
/public/uploads/*
/resources/views/edit/create.blade.php
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
