// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
body{
    background-color: #616A6B;
}
header{
    .motto{
        width: 100%;
        height: 25px;
        background-color: black;
        padding-top: 20px;
        padding-left: 60px;
        color:#fff;
        text-align: center;
        P{
            margin-top: -25px;
            font-size: 20px;
            font-family: '隶书';
        }
    }
    .author{
        margin: 20px 0px 0px 30px;
        height: 700px;
        width: 300px;
        border-radius: 30px;
        background-color:#0AACEE;
        img{
            height: 100px;
            width: 100px;
            border-radius: 50%;
            margin-top: 100px;
            margin-left: 100px;
        }
        .author-name{
            margin-left: 110px; 
            color:#fff;
            font-size:40px;
            text-decoration: none;
            font-family: 'Consolas'
        }
        .author-link{
            margin-top: 40px;
            margin-left: 50px;
            a{
                color:#fff;
                &:hover{
                    color: #555555;
                    text-decoration: none;
                    transition-duration: 0.4s;
                }
                font-size: 15px;
                padding-left: 20px; 
            }
        }
        .author-link1{
            margin-top: 10px;
            margin-left: 50px;
            a{
                color:#fff;
                &:hover{
                    color: #555555;
                    text-decoration: none;
                    transition-duration: 0.4s;
                }
                font-size: 15px;
                padding-left: 20px; 
            }
        }
        .others{
            .github{
                height: 40px;
                width: 40px;
            }
            .email{
                height: 30px;
                width: 30px;
                margin-left: 10px;
            }
            
        }
    }
}
.mks{
    margin-top: -705px;
    width: 110%;
    .input-group{
        margin-top: 10px;
        width: 95%;
    }
    .mk{
        margin-top: 15px;
        width: 90%;
    }
}
.page{
    position:fixed;
    left: 500px;
    top: 800px;
}
.article_info{
    margin-top: -740px;

    table{
        border-collapse: collapse;
        tr{
            display:block; 
            margin:50px 0;
            background-color: #fff;
            border-radius: 10px;
            td {
                width:900px;
                height: 130px;
                border-radius: 10px;
                a{
                    span{
                        color:#928c8c;
                        margin-top:25px;
                    }
                    text-decoration: none;
                    display:inline-block;
                    width:100%;
                    height:100%;
                    color: black;
                    &:hover{
                        background-color: #474444;
                        color:white;
                        text-decoration: none;
                        transition-duration: 0.4s;
                    }
                    hr{
                        width: 90%;
                        margin-top: -8px;
                        margin-left: 0px;
                        background-color: #413e3e;

                    }
                }
            }
        }
    }
    h1{
        margin-left: 10px;
        margin-top: 5px;
    }
    p{
        margin-left: 15px;
        margin-top: -5px;
    }
    span{
        margin-left: 20px;
        margin-top: -10px;
    }

}

.footer{
    width: 100%;
    height:50px;   /* footer的高度一定要是固定值*/ 
    position:absolute;
    bottom:0px;
    left:0px;
    background: #000000;
    color:#fff;
    text-align: center;
    padding-top: 10px;
    a{
        margin-left: 20px;
        text-decoration: none;
        color: rgba(17, 128, 231, 0.788);
        &:hover{
            color: #fff;
            text-decoration: none;
            transition-duration: 0.4s;
        }
    }
}